.monster-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 8px;
  flex: 0 0 22rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  min-width: 18rem;
  max-width: 18rem;
  align-items: center;

  /* Responsive adjustments */
  @media (max-width: 1087px) {
    min-width: 90%;
    max-width: 90%;
    border-top: 2px solid var(--background-default);
    border-radius: 0;
  }

  /* media query for mobile */
  @media (max-width: 468px) {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

.monster-form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  max-width: 100%;

  label {
    color: var(--neutral-100);
  }

  input {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--background-default);
    color: var(--neutral-100);
    padding: 0.75rem;
  }

  .monster-form-field {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    /* media query for mobile */
    @media (max-width: 468px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .monster-form-field-label {
    display: flex;
    flex-direction: column;
    width: 8rem;
    align-items: flex-start;

    label {
      width: fit-content;
      min-width: fit-content;
      text-align: left;
      width: 8rem !important;
    }

    .MuiFormControl-root {
      width: 100%;
    }

    input {
      padding: 0.25rem;
      text-align: center;
    }

    @media (max-width: 1087px) {
      width: 100%;
    }

    /* media query for mobile */
    @media (max-width: 468px) {
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .MuiFormControl-root {
        width: 5rem;
      }
    }
  }

  @media (max-width: 1087px) {
    width: 80% !important;
  }
}

.monster-form-rating {
  width: 8.5rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 1087px) {
    width: 100% !important;
  }
}

.monster-form-field-name-image {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 100%;

  /* Responsive adjustments */
  @media (max-width: 1087px) {
    flex-direction: row;
    gap: 2rem;

    img {
      margin: 0 auto;
    }
  }

  /* media query for mobile */
  @media (max-width: 468px) {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

button.monster-form-submit-button {
  background-color: var(--green-color-dark);
  color: var(--neutral-100);
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:disabled {
    background-color: var(--neutral-700) !important;
    color: var(--neutral-800) !important;
  }
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--green-color-dark) !important;
}

.MuiInputLabel-formControl.Mui-focused {
  color: var(--green-color-dark) !important;
}

.Mui-disabled {
  color: var(--neutral-400) !important;
  -webkit-text-fill-color: var(--neutral-400) !important;
}
