:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #002919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100% !important;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.bold-text {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
}

.background-box {
  background-image: url('@assets/background/island-background.jpg');
  background-color: #212732;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-box::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0, 0, 0, 0.6), transparent), #05070ade;
  pointer-events: none;
  z-index: 0;
}

/* media query for mobile */
@media (max-width: 768px) {
  .button-back {
    margin: 0 auto !important;
  }

  h1,
  .MuiTypography-h1 {
    font-size: 1.75rem !important;
    line-height: 1.2 !important;
  }

  h2,
  .MuiTypography-h2 {
    font-size: 1.6rem !important;
    line-height: 1.2 !important;
  }

  h3,
  .MuiTypography-h3 {
    font-size: 1.45rem !important;
    line-height: 1.2 !important;
  }

  h4,
  .MuiTypography-h4 {
    font-size: 1.3rem !important;
    line-height: 1.2 !important;
  }

  h5,
  .MuiTypography-h5 {
    font-size: 1.15rem !important;
    line-height: 1.2 !important;
  }

  h6,
  .MuiTypography-h6 {
    font-size: 1rem !important;
    line-height: 1.2 !important;
  }

  p {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
