.battle-arena-page {
  display: flex;
  align-items: stretch;
  background: var(--background-tertiary);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-default);
  border: 2px solid var(--background-default);
  max-width: 90%;

  /* Responsive adjustments */
  @media (max-width: 1087px) {
    max-width: calc(100% - 2rem);
  }

  /* Responsive adjustments */
  @media (max-width: 1047px) {
    flex-direction: column;
    align-items: center;
  }

  /* media query for mobile */
  @media (max-width: 468px) {
    min-width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    width: calc(100% - 1rem);
    padding: 2rem 0 0;
  }
}

.arena-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.25rem;
  padding: 2rem !important;

  h4 {
    color: var(--golden-color-light);
    font-weight: 900;
    text-shadow: var(--text-shadow-default);
  }

  /* Responsive adjustments */
  @media (max-width: 1087px) {
    padding: 0 1rem 2rem;
  }
}
